.logo{
    width: 100%;
    height: 60px;
}

.brand-font{
    font-family: 'Noto Sans', sans-serif;
}

/* for navbar */
.primary-menu li a{
    color: white;
    /* font-weight: bold; */
    font-size: 18px;
    margin-top: 7px;
    /* padding: 7px; */
    /* margin-right: 10px; */
}
.primary-menu li a:hover{
    color: #834a08;
    /* font-weight: bold; */
    font-size: 18px;
    margin-top: 7px;
    /* margin-right: 10px; */
}

.primary-menu li{
    padding-left: 4px;
    
}

/* dropdown-menu */
.dropdown:hover .dropdown-menu {
    display: block;
    padding: 0;
    margin: 0;
    background-color: #3a7416;
    /* color: rgb(59, 9, 9); */

}

/* for acrive menu */
.navbar-nav>.active>a {
    background-color:#336e0b;
    color: white;
}

/* For Heading */
.news-txt{
    color: #336e0b;
    text-decoration: none !important;
    display: block;
    font-size: 60px;
    line-height: 72px;
    font-weight: 600;
    margin-bottom: 5px;
}
.news-txt:hover{
    /* color: #2e3192; */
    color:#834a08;
    text-decoration: none !important;
    display: block;
    font-size: 60px;
    line-height: 72px;
    font-weight: 600;
    margin-bottom: 5px;
}

/* for content */
.txt{
    font-size: 28px;
    line-height: 44px;
    margin: 0;
    color: #565656;
    text-align: justify;
}

/* for cards in english-page */
.cards-page{
    width:100%;
    height: 500px;
    /* background-color: #80808024; */
    padding: 8px;
}

/* for footer */
.footer{
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.25em;
    padding: 15px 0px;
    padding-bottom: 16px;
    font-weight: bold;
    margin-left: 30px;
    display: block;
    font-family: 'open sans';
    margin-top: 15px;
    text-align: justify;

}
.list a{
    color: #fff !important;
    font-size: 1.1em !important;
    letter-spacing: 0.5px;
    line-height: 1.8em;
    padding: 5px 0px;
    text-decoration: none;
}
.footer-menu ul li{
    list-style: none;
}

.footer-icon {

    color: #fff !important;
    font-size: 1.1em !important;
    letter-spacing: 0.5px;
    line-height: 1.8em;
    padding: 5px 0px;
    text-decoration: none;
    font-size: 1.1em !important;

}

.footer-icon a{
    color: #fff !important;
    font-size: 1.1em !important;
    letter-spacing: 0.5px;
    line-height: 1.8em;
    padding: 5px 0px;
    text-decoration: none;
    font-size: 1.1em !important;
}
.copyright{
    color: white;
    text-align: center;
}


/* Pagination */
.pagination {
    justify-content: center;
    align-items: center;
}
.pagination a {
    margin: auto 15px;
}
.pagination .current {
    padding: 0 10px;
    background-color: #3a7416;

    /* background-color: #03a9f4; */
    color: #fff;
    font-weight: bold;
}


/* for our-team */

.card-team {
    transition: all 0.2s ease;
    cursor: pointer
}

/* for image in single page */
.img-repo img{
    max-width: 100%;
    height: auto;
}

/* for menu in mobile */
@media screen and (max-width: 600px) {
    #menu-primary-menu {
        /* display: grid; */
        /* grid-template-columns: 1fr 1fr; */
        display: block;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}

/* video */
.video iframe{
    width: 100%;
    aspect-ratio: 4/3;
}

/* for video ads */
.video-ads iframe{
    width:100%;
    /* height:auto; */
}

/* for single page content*/
.single-page p{
    text-align: justify;
}

/* for space in widgets */
.ads-widget img{
    margin-bottom: 20px;
}

/* for time in header */
.clock {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translateX(-50%) translateY(-50%); */
    color: black;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 7px;

}

